@use "../abstracts" as *;

.assignment-section {
    padding-block: spacer(xxxl);
    background: rgba($color-primary, .04);
    border-block: 1px solid $color-border;

    &__title {
        margin: 0 0 spacer(xl);
        font-size: 1.25rem;
        font-weight: $font-weight-bold;
        color: $color-dark;
        text-align: center;
    }

    &__container {
        max-width: 480px;
    }
}