@use "../abstracts" as *;

.image-section {
    padding-block: $spacer * 2;

    @include respond-to(md) {
        padding-block: $spacer * 3;
    }

    .container {
        display: flex;
        justify-content: center;
    }
}