@use "../abstracts" as *;

.image-section {
    padding-block: spacer(xxxl);

    @include respond-to(md) {
        padding-block: spacer(lg) * 3;
    }

    .container {
        display: flex;
        justify-content: center;
    }
}