@use "../abstracts" as *;

.assignment-form__group {
    display: flex;
    flex-direction: column;
    margin-bottom: spacer(xl);

    label {
        margin-bottom: spacer(xxs);
        font-size: .875rem;
        font-weight: $font-weight-demi;
        color: $color-dark;
    }

    input {
        font-family: $font-main;
        font-size: 1rem;
        padding: spacer(sm) spacer(md);
        border: 1px solid $color-border;
        border-radius: 8px;
        background: $color-bg;
        color: $color-text;
        transition: border-color $transition-base, box-shadow $transition-base;

        &::placeholder {
            color: $color-placeholder;
        }

        &:focus-visible {
            outline: none;
            border-color: $color-primary;
            box-shadow: 0 0 0 3px rgba($color-primary, .2);
        }

        &.is-invalid {
            border-color: $color-error;
            background-color: rgba($color-error, .03);

            &:focus-visible {
                border-color: $color-error;
                box-shadow: 0 0 0 3px rgba($color-error, .2);
            }
        }

    }

    small {
        min-height: 1.125rem;
        margin-top: spacer(xxs);
        font-size: .8125rem;
        color: $color-error;

        &:empty {
            @include hide;
        }
    }
}

#assignment-form.is-resetting {
    .assignment-form__group input,
    .assignment-form__group small {
        opacity: 0;
    }
}